.header{
    color:blue;
    background:#e4d81e
}
.parent{
  
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 2;
    border:10px solid  blueviolet;
    margin: 40px;
    padding: 30px;
   
}
.p1{
    color:coral; 
    display: flex;
    justify-content:space-between;
     text-align: center;
}
